*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    width: 70%;
    margin: 0 auto;
    background-color: skyblue;
    display: table;
    padding: 10px 0;
}

section>div {float: left;max-width: 28%;}

section > div {
    border: 1px solid blue;
    padding: 10px;
    margin: 0 20px;
}

p {
    display: inline;
}

img {
    float: left;
    display: block;
    max-width: 100px;
    border-radius: 50%;
    margin: 20px;
}

.center-align  img {
    margin-left: auto;
    margin-right: auto;
    display: table;
    float: none;
}


.center-align p {
    text-align: center;
    display: block;
}

.center-align p.p-2 {
    display: none;
}
.center-align p.p-3 {
    visibility: hidden;
}


.center-align p.p-4 {
    background-color: red;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    display: table;
    margin: 10px auto;
    cursor: pointer;
}
.center-align p.p-4:hover {
    background-color: skyblue;
}

.center-align p.p-5 {
    filter: contrast(0.5);
    pointer-events: none;
}

.left-align  img {
    float: left;
}